<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>{% block title %}Scholar - AutoLearn{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('frontoffice/vendor/bootstrap/css/bootstrap.min.css') }}">

        <!-- FrontOffice CSS -->
        <link rel="stylesheet" href="{{ asset('frontoffice/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('frontoffice/css/flex-slider.css') }}">
        <link rel="stylesheet" href="{{ asset('frontoffice/css/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ asset('frontoffice/css/owl.css') }}">
        <link rel="stylesheet" href="{{ asset('frontoffice/css/templatemo-scholar.css') }}">

        <!-- Swiper -->
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    {% endblock %}
</head>
<body>

<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ path('app_frontoffice') }}" class="logo">
                        <h1>Scholar</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Search Start ***** -->
                    <div class="search-input">
                        <form id="search" action="#">
                            <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" />
                            <i class="fa fa-search"></i>
                        </form>
                    </div>
                    <!-- ***** Search End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{{ path('app_frontoffice') }}">Home</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('app_mes_equipes') }}">Team</a></li>
                            <li><a href="{{ path('app_frontoffice') }}#events">Events</a></li>
                            <li><a href="{{ path('frontchallenge') }}">Challenges</a></li>
                            <li><a href="{{ path('app_mes_participations') }}">My Participations</a></li>
                            <li><a href="{{ path('app_profile') }}">Profile</a></li>
                            <li><a href="{{ path('backoffice_logout') }}" onclick="event.preventDefault(); document.getElementById('logout-form-nav').submit();">Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('backoffice_login') }}">Login</a></li>
                            <li><a href="{{ path('backoffice_register') }}">Register</a></li>
                        {% endif %}
                    </ul>
                    <form id="logout-form-nav" action="{{ path('backoffice_logout') }}" method="POST" style="display: none;">
                        <input type="hidden" name="_token" value="{{ csrf_token('logout') }}">
                    </form>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

{% block body %}{% endblock %}

<!-- Scripts -->
{% block javascripts %}
    <script src="{{ asset('frontoffice/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('frontoffice/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('frontoffice/js/isotope.min.js') }}"></script>
    <script src="{{ asset('frontoffice/js/owl-carousel.js') }}"></script>
    <script src="{{ asset('frontoffice/js/counter.js') }}"></script>
    <script src="{{ asset('frontoffice/js/custom.js') }}"></script>
{% endblock %}

</body>
</html>
