{% extends 'frontoffice/base.html.twig' %}

{% block title %}Tous les challenges - Scholar{% endblock %}

{% block body %}
<div class="challenge-list-page" style="margin-top: 120px; margin-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h6>Défis</h6>
                    <h2>Tous les Challenges</h2>
                </div>
            </div>
        </div>

        {% if challenges is empty %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-info text-center">
                        <p>Aucun challenge disponible pour le moment.</p>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                {% for challenge in challenges %}
                    <div class="col-lg-12 col-md-6 mb-4">
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="image">
                                        {% if loop.index0 % 3 == 0 %}
                                            <img src="{{ asset('frontoffice/images/event-01.jpg') }}" alt="{{ challenge.titre }}">
                                        {% elseif loop.index0 % 3 == 1 %}
                                            <img src="{{ asset('frontoffice/images/event-02.jpg') }}" alt="{{ challenge.titre }}">
                                        {% else %}
                                            <img src="{{ asset('frontoffice/images/event-03.jpg') }}" alt="{{ challenge.titre }}">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <ul>
                                        <li>
                                            <span class="category" style="background: 
                                                {% if challenge.niveau == 'Facile' %}#7fb77e;
                                                {% elseif challenge.niveau == 'Intermédiaire' %}#f3b562;
                                                {% else %}#f17b7b;
                                                {% endif %}">
                                                {{ challenge.niveau }}
                                            </span>
                                            <h4>{{ challenge.titre }}</h4>
                                            <p style="margin-top: 8px; color: #7a7a7a;">
                                                {{ challenge.description|length > 100 ? challenge.description|slice(0, 100) ~ '...' : challenge.description }}
                                            </p>
                                        </li>
                                        <li>
                                            <span>Début:</span>
                                            <h6>{{ challenge.dateDebut|date('d M Y') }}</h6>
                                        </li>
                                        <li>
                                            <span>Fin:</span>
                                            <h6>{{ challenge.dateFin|date('d M Y') }}</h6>
                                        </li>
                                        <li>
                                            <span>Niveau:</span>
                                            <h6 style="color: 
                                                {% if challenge.niveau == 'Facile' %}#7fb77e;
                                                {% elseif challenge.niveau == 'Intermédiaire' %}#f3b562;
                                                {% else %}#f17b7b;
                                                {% endif %}; font-weight: 700;">
                                                {{ challenge.niveau }}
                                            </h6>
                                        </li>
                                    </ul>
                                    <a href="{{ path('frontchallenge', {'id': challenge.id}) }}">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}