{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <h1>📊 Dashboard - Gestion Communauté</h1>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-users"></i> Communautés
                    </h5>
                    <p class="card-text display-4">
                        {{ communauteCount }}
                    </p>
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\CommunauteCrudController').setAction('index') }}" class="btn btn-light">
                        Gérer
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-file-alt"></i> Posts
                    </h5>
                    <p class="card-text display-4">
                        {{ postCount }}
                    </p>
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\PostCrudController').setAction('index') }}" class="btn btn-light">
                        Gérer
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-comments"></i> Commentaires
                    </h5>
                    <p class="card-text display-4">
                        {{ commentaireCount }}
                    </p>
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\CommentaireCrudController').setAction('index') }}" class="btn btn-light">
                        Gérer
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>🎯 Actions Rapides</h5>
                </div>
                <div class="card-body">
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\CommunauteCrudController').setAction('new') }}" class="btn btn-primary">
                        <i class="fas fa-plus"></i> Nouvelle Communauté
                    </a>
                    <a href="{{ ea_url().setController('App\\Controller\\Admin\\PostCrudController').setAction('new') }}" class="btn btn-success">
                        <i class="fas fa-plus"></i> Nouveau Post
                    </a>
                    <a href="{{ path('app_communaute_index') }}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Retour au site
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
