{% extends 'backoffice/base.html.twig' %}

{% block title %}Ajouter Challenge{% endblock %}

{% block body %}
<div class="content-wrapper">

    <h2 class="mb-4">Ajouter un challenge</h2>

    <div class="card glass-card p-4">
        {{ form_start(form) }}

        {{ form_row(form.titre) }}
        {{ form_row(form.description) }}
        {{ form_row(form.date_debut) }}
        {{ form_row(form.date_fin) }}
        {{ form_row(form.niveau) }}

        <button class="btn btn-primary mt-3">
            Enregistrer
        </button>

        {{ form_end(form) }}
    </div>

</div>
{% endblock %}
