{% extends "backoffice/base_admin.html.twig" %}

{% block admin_content %}
<div class="card glass-card">
    <div class="card-header">
        <h4>📅 Éditer Événement</h4>
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_row(form.titre, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_row(form.type, {'attr': {'class': 'form-select'}}) }}
            </div>
        </div>

        <div class="mb-3">
            {{ form_row(form.description, {'attr': {'class': 'form-control', 'rows': 3}}) }}
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_row(form.dateDebut, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_row(form.dateFin, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_row(form.lieu, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form_row(form.capaciteMax, {'attr': {'class': 'form-control', 'type': 'number'}}) }}
            </div>
        </div>

        <div class="mb-3">
            {{ form_row(form.isCanceled) }}
        </div>

        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-primary">✓ Mettre à jour</button>
            <a href="{{ path('app_evenement_index') }}" class="btn btn-secondary">Retour</a>
        </div>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
