{% extends 'base.html.twig' %}

{% block title %}Communaute index{% endblock %}

{% block body %}
    <h1>Communaute index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for communaute in communautes %}
            <tr>
                <td>{{ communaute.id }}</td>
                <td>{{ communaute.nom }}</td>
                <td>{{ communaute.description }}</td>
                <td>
                    <a href="{{ path('app_communaute_show', {'id': communaute.id}) }}">show</a>
                    <a href="{{ path('app_communaute_edit', {'id': communaute.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_communaute_new') }}">Create new</a>
{% endblock %}
