<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    
    {% block stylesheets %}
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('frontoffice/vendor/bootstrap/css/bootstrap.min.css') }}">

        <!-- FrontOffice CSS -->
        <link rel="stylesheet" href="{{ asset('frontoffice/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('frontoffice/css/flex-slider.css') }}">
        <link rel="stylesheet" href="{{ asset('frontoffice/css/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ asset('frontoffice/css/owl.css') }}">
        <link rel="stylesheet" href="{{ asset('frontoffice/css/templatemo-scholar.css') }}">

    <!-- Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

  


      
    </head>
    <
        <!-- Swiper -->
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ asset('frontoffice/vendor/jquery/jquery.min.js') }}"></script>
        
        <!-- Bootstrap -->
        <script src="{{ asset('frontoffice/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        
        <!-- Plugin JS -->
        <script src="{{ asset('frontoffice/js/isotope.min.js') }}"></script>
        <script src="{{ asset('frontoffice/js/owl-carousel.js') }}"></script>
        <script src="{{ asset('frontoffice/js/counter.js') }}"></script>
        
        <!-- Custom JS -->
        <script src="{{ asset('frontoffice/js/custom.js') }}"></script>
        
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    {% include 'ai_assistant/chat_widget.html.twig' %}
</body>
</html>